Powerboard 1/PowerBoard 1/PowerBoard 1-backups/
Powerboard 1/Powerboard 1 Front/Powerboard 1 Front/Powerboard 1 Front-backups/
Controller/Controller/Controller/Controller-backups/
Controller/Controller Front/Controller Front/Controller Front-backups/
Controller/Controller Front/Controller Front/fp-info-cache
Powerboard 1/Powerboard 1 Front/Powerboard 1 Front/fp-info-cache
Powerboard 1/Programming/.history/
Powerboard 1/Programming/build/
Powerboard 1/Programming/.vscode/
Controller/Controller/Soft_REV3/TouchGFX/build/
Controller/Controller/Soft_REV3/Debug/Core/Src/freertos.d
Controller/Controller/Soft_REV3/Debug/
Controller/Controller/Soft_REV3/.history/
